body {
font-family: $font;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
background-color: $color-white;
color: #757575;
}

.link {
text-decoration: none;
display: block;
padding: 0px;
margin: 0px;
}

.list {
list-style: none;
padding: 0px;
margin: 0px;
}

img{
display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h2,
h3,
p{
margin: 0px;
padding: 0px;
}
form {
display: block;
margin-top: 0em;
}
label {
cursor: default;
}